@-webkit-keyframes droplet-hover {
    100% {
        margin-bottom: -50px;
    }
}
.grid-block,
.main,
.post,
.comments li,
.comment-form {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

body {
    background: #fff;
    color: #545454;
    font-family: 'Montserrat', san-serif;
}

.container {
    padding: 0;
    margin: 0;
    width: 100%;
}

#main {
    position: relative;
}

.page {
    position: absolute;
    top: 0px;
    width: 100%;
}

.navbar {
    margin: 0;
}
/* line 32, ../sass/style.scss */

.navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px;
}

.navbar-brand img {
    display: inline-block;
    margin-right: 0.5em;
    margin-top: -3px;
}

#spinner {
    height: 300px;
}

.post {
    /* For modern browsers */
    /* For IE 6/7 (trigger hasLayout) */
    
    *zoom: 1;
    position: relative;
    opacity: 1;
}

.post:before,
.post:after {
    content: "";
    display: table;
}

.post:after {
    clear: both;
}

.post.invisible {
    opacity: 0;
}

.post.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.post.animate {
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
}

.post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left;
}

.post .post-content {
    float: left;
}

.post .post-content h3 {
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
}

.post .post-content h3 a {
    display: inline-block;
    margin-right: 5px;
}

.post .post-content h3 span {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: #aaaaaa;
}

.post .post-content p {
    margin: 0;
}

.post .discuss {
    display: block;
    float: right;
    margin-top: 7px;
}

.comments {
    list-style-type: none;
    margin: 0;
}

.comments li h4 {
    font-size: 16px;
    margin: 0;
}

.comments li h4 .date {
    font-size: 12px;
    font-weight: normal;
}

.comments li h4 a {
    font-size: 12px;
}

.comments li p:last-child {
    margin-bottom: 0;
}

.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
}

.load-more {
    display: block;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}

.load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}

.posts .spinner-container {
    position: relative;
    height: 100px;
}

.jumbotron {
    text-align: center;
}

.jumbotron h2 {
    font-size: 60px;
    font-weight: 100;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.errors {
    position: fixed;
    z-index: 10000;
    padding: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}

.alert {
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    width: 250px;
    float: right;
    clear: both;
    margin-bottom: 5px;
    pointer-events: auto;
}
button {
    background: #111111;
    color: white;
    padding: 1em 2em;
    border: none;
    display: block;
    margin: 0 auto;
}


@media only screen and (max-width: 500px) {
    #normal-btn {
        margin-top: 00px;
    }
    .navbar-right img {
        display: none;
    }

}

@media only screen and (min-width: 501px) {
    #normal-btn {
        margin-top: 50px;
    }
}

#normal-btn {
    margin-bottom: 20px;
    width: 130px;
}

#power-cry-btn {
    width: 130px; 
}

#cry-level-label {
}

.white {
    color: white;
}
#main-title {
    padding: 4em 0;
    margin: 0;
    position: relative;
    letter-spacing: 0.1em;
    float: right;
    width: 320px;
}
#main-title small {
    font-size: 0.45em;
    letter-spacing: 0.05em;
}
#main-title:after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 300px;
    height: 415px;
    background: url(images/big_tear.png) no-repeat center bottom;
    background-size: 276px auto;
    bottom: 0px;
    left: 72px;
    -webkit-animation: droplet-hover 2s 6s 1 forwards;
}
.story {
    display: block;
    clear: both;
}
.story p {
    padding-bottom: 0.5em;
}
#choices {
    margin-top: 2em;
}
.choice {
    border: 1px solid #1583F6;
    padding: 1em 1em 1em 1em;
    margin-bottom: 2em;
}
.choice:hover, .category:hover {
    cursor: pointer;
    background: #1583F6;
    color: #fff;
}
#lumberjack {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    float: right;
}
@media only screen and (max-width: 991px) {
    #lumberjack {
        position: relative;
    }
}
.next-btn {
    opacity: .4;
    padding: 1em 7em;
    border-radius: 3px;
}
#choices p {
    word-spacing: .2em;
}

.category {
    height: 30%;
    width: 100%;
    background-color: #000;
    padding: 2em 2em 2em 2em;
    color: #fff;
    margin-bottom: 1em;
    text-align: center;
}
.video {
}
.thumbnail {
    height: 130px;
    display: inline-block;
}
.title {
    width: 100%;
    font-size: .8em;
    text-align: center;
}
.thumbnail:hover {
    cursor: pointer;
}
#youtube-video {
    position: absolute;
    top: 0;
    z-index: 12;
}
.close-btn {
    width: 10px;
    height: 10px;
    background: red;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 15;
    display: none;
}
.close-btn:hover {
    cursor: pointer;
}
.custom-overlay {
    display: none;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .7;
    position: absolute;
    top: 0;
    z-index: 10;
}

@-webkit-keyframes tears-accumulating {
    0%, 8% {
        height: 5%;
    }
    80%, 100% {
        height: 75%;
    }
}
@-webkit-keyframes tear-falling {
    0% {
        top: -20%;
    }
    80%, 100% {
        top: 70%;
    }
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

canoftears {
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 350px;
    height: 400px;
    display: block;
    position: relative;
    margin: auto;
}

can {
    display: block;
    width: 150px;
    height: 200px;
    background: lightgray;
    position: relative;
    margin: 100px;
    -webkit-box-sizing: border-box;
}

top, bottom {
    width: 100%;
    background: white;
    height: 20%;
    display: block;
    border-radius: 100%;
    top: -10%;
    position: absolute;
    border: 2px solid lightgray;
}

bottom {
    top: auto;
    bottom: -10%;
    background: lightblue;
}

tears {
    width: 100%;
    height: 0%;
    bottom: 0;
    position: absolute;
    border-right: 2px solid lightgray;
    border-left: 2px solid lightgray;
    background: lightblue;
    display: block;
    z-index: 1;
}
canoftears.animated tears {
    -webkit-animation: tears-accumulating 6s 1 forwards;
}
tears:before {
    display: block;
    content: "";
    position: absolute;
    border-radius: 100%;
    height: 40px;
    top: -20px;
    width: 100%;
    background: #86c5da;
}

teardrop {
    background: #86c5da;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: absolute;
    left: 49%;
    top: -30%;
    z-index: 1;
}
canoftears.animated teardrop {
    -webkit-animation: tear-falling 1.5s linear 4;
}
teardrop:before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: -6px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid #86c5da;
}

tearmax {
    height: 50%;
    position: absolute;
    width: 100%;
    display: block;
    bottom: 0;
}

