.grid-block,
.main,
.post,
.comments li,
.comment-form {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

body {
    background: #eee;
    color: #545454;
    font-family: 'Montserrat', san-serif;
}

.container {
    padding: 0;
    margin: 0;
    width: 100%;
}

#main {
    position: relative;
}

.page {
    position: absolute;
    top: 0px;
    width: 100%;
}

.navbar {
    margin: 0;
}
/* line 32, ../sass/style.scss */

.navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px;
}

.navbar-brand img {
    display: inline-block;
    margin-right: 0.5em;
    margin-top: -3px;
}

#spinner {
    height: 300px;
}

.post {
    /* For modern browsers */
    /* For IE 6/7 (trigger hasLayout) */
    
    *zoom: 1;
    position: relative;
    opacity: 1;
}

.post:before,
.post:after {
    content: "";
    display: table;
}

.post:after {
    clear: both;
}

.post.invisible {
    opacity: 0;
}

.post.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.post.animate {
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
}

.post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left;
}

.post .post-content {
    float: left;
}

.post .post-content h3 {
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
}

.post .post-content h3 a {
    display: inline-block;
    margin-right: 5px;
}

.post .post-content h3 span {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: #aaaaaa;
}

.post .post-content p {
    margin: 0;
}

.post .discuss {
    display: block;
    float: right;
    margin-top: 7px;
}

.comments {
    list-style-type: none;
    margin: 0;
}

.comments li h4 {
    font-size: 16px;
    margin: 0;
}

.comments li h4 .date {
    font-size: 12px;
    font-weight: normal;
}

.comments li h4 a {
    font-size: 12px;
}

.comments li p:last-child {
    margin-bottom: 0;
}

.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
}

.load-more {
    display: block;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}

.load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}

.posts .spinner-container {
    position: relative;
    height: 100px;
}

.jumbotron {
    text-align: center;
}

.jumbotron h2 {
    font-size: 60px;
    font-weight: 100;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.errors {
    position: fixed;
    z-index: 10000;
    padding: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}

.alert {
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    width: 250px;
    float: right;
    clear: both;
    margin-bottom: 5px;
    pointer-events: auto;
}
button {
    background: #111111;
    color: white;
    padding: 1em 2em;
    border: none;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 500px) {
    #normal-btn {
        margin-top: 00px;
    }

}

@media only screen and (min-width: 501px) {
    #normal-btn {
        margin-top: 50px;
    }
}

#normal-btn {
    margin-bottom: 20px;
    width: 130px;
}

#power-cry-btn {
    width: 130px; 
}

.white {
    color: white;
}
#main-title {
    padding: 3em 0;
    margin: 0;
    position: relative;
}
#main-title small {
    font-size: 0.45em;
}
#main-title:after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 300px;
    height: 300px;
    background: url(images/big_tear.png) no-repeat center bottom;
    bottom: 0px;
    left: 83px;
}
#choices {
    margin-top: 2em;
}
.choice {
    width: 80%;
    border: 1px solid #1583F6;
    padding: 1em 1em 1em 1em;
    margin-bottom: 2em;
}
.choice:hover {
    cursor: pointer;
}
.next-btn {
    opacity: .4;
    padding: 1em 7em;
    border-radius: 3px;
}
#choices p {
    word-spacing: .2em;
}
