<template name="landing" class="col-xs-12 col-md-8">
    <img class="falling-tear" src="images/big_tear.png">
    <img class="falling-tear" src="images/big_tear.png">
    <img class="falling-tear" src="images/big_tear.png">
    <div class="heads">
        <img src="images/head1.png"><img src="images/head2.png"><img src="images/head3.png">
    </div>
    <h1 id="main-title">MAN TEARS<small>For crying out loud</small></h1>
    <div class="story">
        <h4>Why should you cry?</h4>
        <p>Crying improves your mood and helps relieve stress. Tears cleanse your eyes and keep your nose moist and bacteria-free. But gender and cultural norms keep men from reaping the benefits of crying.</p>
        <p>Men cry only 1.3 times per month while women cry 5.3 times per month. It's a systemic problem.</p>
        <p>You can change that today.</p>
        <button id="start-cry-btn">Start a Free Cry</button>
    </div>
</template>
