<template name="landing" class="col-xs-12 col-md-8">
    <h1 id="main-title">MAN <span class="white">TEARS</span><br><small>For crying <span class="white">out loud</span></small></h1>
    <div class="story col-md-8">
        <p>Crying improves your mood and helps relieve stress. Tears cleanse your eyes and keep your nose moist and bacteria-free. But gender and cultural norms keep men from reaping the benefits of crying.</p>
        <p>Men cry only 1.3 times per month while women cry 5.3 times per month. It's a systemic problem.</p>
        <p>You can change that today.</p>
        <button id="start-cry-btn">Start a Free Cry</button>
    </div>
</template>
