<template name='notifyReady'>
    <div class="modal fade" tabindex="-1" id="notify-ready" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header cannister-modal">
            <h4 class="modal-title">Before you start...</h4>
            <p>Purchase our embroidered tear canister for an all time low price of $19.99!</p>
            <img src="images/tear_cannister.png">
            <button class="white-btn" data-dismiss="modal">No thanks</button>
            <button>Buy now</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>
