<template name='showCategories'>
    <div class='youtube-container'>
        <div class='close-btn done-btn'><span>x</span></div>
        <div id='youtube-video'></div>
        <div class='done-crying-btn done-btn'>I'm Done Crying</div>
        <div class="normal-header">
            <img src="images/normal_cry.png">
            <h3>Normal Cry</h3>
            <p>Choose a video to cry to</p>
        </div>
        {{#each categories}}
            <h3>{{name}}</h3>
            <div class='videos'>
                {{#each videos}}
                    <div class='video'>
                        <img class='thumbnail' src='{{grabThumbnail videoId}}'>
                        <div class='title' id="title-{{videoId}}">{{videoInfo}}</div>
                    </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
</template>
