<template name='showGoals' id="lumberjack-background">
    <h3>Let's Set a Crying Goal!</h3>
    <p>According to recent research published by the American Psychological Association,
adult women get between 20 to 120 minutes of crying each month. Try to spread out your crying
sessions throughout the month. Aim for at least a crying session (this can be a moderate 
or vigorous crying depending on your mood) each week.</p>
    <div id='choices' class='col-md-8'>
        {{#each goals}}
            <div class='choice' data-id="{{_id}}" data-toggle="tooltip" data-placement="bottom" title="{{rollOver}}">
                <h4>{{text}}</h4>
                <p>{{description}}</p>
            </div>
        {{/each}}
    </div>
    <img id="lumberjack" src="images/lumberjack.png">
</template>
