<template name='showCategories'>
    <div class='youtube-container'>
        <div class='close-btn'></div>
        <div id='youtube-video'></div>
        {{#each categories}}
            <h3>{{name}}</h3>
            <div class='videos'>
                {{#each videos}}
                    <div class='video'>
                        <img class='thumbnail' src='{{grabThumbnail videoId}}'>
                        <div class='title' id="title-{{videoId}}">{{videoInfo}}</div>
                    </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
</template>